@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
    --white--color: #eeeeee;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #212529;
}

.card__body {
    max-width: 300px !important;
    margin: 25px 0px;
    overflow: hidden;
    position: relative;
}

.movie-card {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #0092ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rate {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 10;
}

.rate span {
    width: 40px;
    padding: 10px;
}

.movie-card:hover img {
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.img-card {
    overflow: hidden;
}

.poster-img {
    display: block;
    justify-content: start;
    transform: scale(1.2);
    transition: transform 0.5s;
    object-fit: cover;
    max-width: 400px;
    width: 100%;
    min-width: 200px;
}

.details {
    color: var(--white--color);
    font-weight: 700;
    margin: 10px;
    padding: 0 20px;
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.selected-movie-card {
    color: #fff;
    text-shadow: 0px 0px 20px #0a00007c;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Selected movie rate  */

.selected-rate {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-rate span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*  */

.selected-movie-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.selected-movie-details {
    position: relative;
    max-width: 750px;
    padding: 20px;
    z-index: 5;
}

.movie-details-text p {
    display: inline-block;
    text-align: left;
    margin-right: 5px;
}

.movie-details-text svg {
    margin: 0 5px;
}

a {
    color: #fff;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

.picked-movie {
    width: 350px;
    height: 500px;
}

@media screen and (min-width:1150px) {
    .poster-img {
        height: 400px;
    }
}