.App {
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app-screen {
  background-color: #121212;
  height: 1000px;
  justify-content: center;
  align-items: center;
}
.facebook {
  margin: 50px;
  background-color: #222222;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
@media (min-width: 900px) {
  .App {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(51, 51, 51);
}

.HomeBody {
  background-color: #121212;
}

.nav-dark {
  background-color: #222222;
}
